extends ../layout

block content
	.container
		.row
			div.col-lg-4.col-offset-4

				h2 Register
				
				form(action='/register', method='post')
					if message
						div.alert.alert-danger.alert-block
							button.close(type='button', data-dismiss='alert') &times;
							| #{message}
					.form-group
						input.form-control.input-large(type='text', name='username', placeholder='Username')
					.form-group
						input.form-control.input-large(type='password', name='password', placeholder='Password')
					.form-group
						button(type='submit').btn.btn-success.btn-block.btn-large Sign in
				a(href="/register").btn.btn-primary.btn-block.btn-large Register