div.clearfix
	.btn-group.pull-right
		a.btn.btn-default.timer-edit(data-toggle='modal', href='#timer-editor', data-bind="click: $root.editTimer")
			span.glyphicon.glyphicon-edit
		a.btn.btn-default.timer-fullscreen(data-toggle="button")
			span.glyphicon.glyphicon-fullscreen
		a.btn.btn-default.timer-delete
			span.glyphicon.glyphicon-trash

h1(data-name="name", data-bind="text: data.currentTimer().name").timer-name

div.timer-clock(data-bind="with: data")
	span(data-bind="text: timerLength").timer-clock-hours
	span.timer-clock-separator :
	span(data-bind="text: timerLength").timer-clock-minutes
	span.timer-clock-separator :
	span(data-bind="text: timerLength").timer-clock-seconds

div.timer-controls
	button.timer-start.btn.btn-large.btn-success
		| Start
	button.timer-pause.btn.btn-large.btn-primary.hidden
		| Pause
	button.timer-reset.btn.btn-large.btn-danger
		| Reset
	button.timer-mute.btn.btn-large.btn-default
		| Mute