ul.nav.nav-list
	li
		a(href="#").new-timer
			i.icon-plus
			|  New timer
	li.divider
	li.nav-header Your timers
	for timer in timers
		li
			a(href="#", data-timer-id='#{timer._id}').timer-link #{timer.name}