div.clearfix
	.btn-group.pull-right
		a.btn.btn-primary.btn-small.timer-edit(data-toggle='modal', href='#timer-editor', data-bind="click: $root.editTimer")
			span.glyphicon.glyphicon-edit
		a.btn.btn-primary.btn-small.timer-fullscreen(data-toggle="button", data-bind="click: $root.fullscreenMode")
			span.glyphicon.glyphicon-fullscreen
		a.btn.btn-primary.btn-small.timer-delete(data-bind="click: $root.removeTimer")
			span.glyphicon.glyphicon-trash

h1(data-name="name", data-bind="text: data.name()").timer-name

div.timer-clock
	span(data-bind="text: computedData.hours").timer-clock-hours 00
	span.timer-clock-separator :
	span(data-bind="text: computedData.minutes").timer-clock-minutes 00
	span.timer-clock-separator :
	span(data-bind="text: computedData.seconds").timer-clock-seconds 00

div.timer-controls
	.btn-group
		button.timer-start.btn.btn-large.btn-primary(data-bind="click: trigger.startTimer, enable: data.state() != 'started'")
			span.glyphicon.glyphicon-play
		button.timer-pause.btn.btn-large.btn-primary(data-bind="click: trigger.pauseTimer, enable: data.state() == 'started'")
			span.glyphicon.glyphicon-pause
		button.timer-reset.btn.btn-large.btn-primary(data-bind="click: trigger.resetTimer")
			span.glyphicon.glyphicon-repeat

