.btn-group.pull-right
	a.btn.timer-edit
		i.icon-edit
	a.btn.timer-delete
		i.icon-trash

.btn-group.pull-right(style="margin-right:3px;")
	a.btn.btn-primary.timer-save
		i.icon-ok-circle.icon-white
		|  Save
	a.btn.timer-cancel-edit
		| Cancel

h1(data-editable="true", data-name="name").timer-name Timer name

div.timer-clock
	span(data-editable="true").timer-clock-hours 00
	span.timer-clock-separator :
	span(data-editable="true").timer-clock-minutes 00
	span.timer-clock-separator :
	span(data-editable="true").timer-clock-seconds 00

div.timer-controls
	button.timer-start.btn.btn-large.btn-success
		i.icon-play.icon-white
		|  Start
	button.timer-pause.btn.btn-large.btn-primary.hidden
		i.icon-pause.icon-white.icon-white
		|  Pause
	button.timer-reset.btn.btn-large.btn-danger
		i.icon-repeat.icon-white
		|  Reset
	button.timer-volume-off.btn.btn-large
		i.icon-volume-off
		|  Mute