a(data-toggle='modal', href='#timer-editor', data-bind="click: $root.createNewTimer").btn.btn-primary.btn-block.new-timer
	| New timer

div.list-group.margin-top(data-bind="foreach: data.timers")
	a(data-bind="text: name(), click: $parent.data.currentTimer, css: { active: _id() == $parent.data.currentTimer()._id() }").list-group-item.timer-link