div.list-group
	a(href="#").list-group-item.new-timer
		h4.list-group-item-heading New timer

	for timer in timers
		a(href="#", data-timer-id='#{timer._id}').list-group-item.timer-link
			| #{timer.name}