div.modal.fade#timer-editor
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title(data-bind="text: state.editorTitle")
			div.modal-body

				form.form-horizontal(data-bind="with: data.editor")
					.form-group
						.col-lg-12
							label.control-label(for='timerName') Name
							input#timerName.form-control(type='text', placeholder='Name timer will be saved with', data-bind="value: name")
					.form-group
						.col-lg-4
							label.control-label Hours
							.input-group
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-down
								input#timerLength.form-control(type='text', placeholder='0', data-bind="value: hours")
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-up
						.col-lg-4
							label.control-label Minutes
							.input-group
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-down
								input#timerLength.form-control(type='text', placeholder='0', data-bind="value: minutes")
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-up
						.col-lg-4
							label.control-label Seconds
							.input-group
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-down
								input#timerLength.form-control(type='text', placeholder='0', data-bind="value: seconds")
								span.input-group-btn
									button.btn.btn-default(type="button")
										span.glyphicon.glyphicon-chevron-up
					div(data-bind="text: timerLength")

			div.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close
				button.btn.btn-primary(type="button", data-bind="text: state.editorSaveButton, click: $root.saveTimer") Save changes