div.timer-zone(data-bind="with: data.timers()[data.currentTimer()]")

	h1.timer-name(data-name="name", data-bind="text: data.name()")

	div.timer-clock(data-bind="css: { 'timer-clock-has-hours': computedData.hours() != '00' }")
		span(data-bind="text: computedData.hours(), visible: computedData.hours() != '00'").timer-clock-hours 00
		span(data-bind="visible: computedData.hours() != '00'").timer-clock-separator :
		span(data-bind="text: computedData.minutes()").timer-clock-minutes 00
		span.timer-clock-separator :
		span(data-bind="text: computedData.seconds()").timer-clock-seconds 00

	div.timer-controls
		a.timer-start.btn.btn-large.btn-primary(data-bind="click: trigger.startTimer, visible: data.state() != 'started'")
			i.icon-play
		a.timer-pause.btn.btn-large.btn-primary(data-bind="click: trigger.pauseTimer, visible: data.state() == 'started'")
			i.icon-pause
		a.timer-reset.btn.btn-large.btn-primary(data-bind="click: trigger.resetTimer")
			i.icon-rotate-left