a(data-bind="click: $root.createNewTimer").btn.btn-primary.btn-block.new-timer
	| New timer

div.list-group.margin-top(data-bind="foreach: data.timers")
		a(href="#", data-bind="text: name, click: $root.setCurrentTimer").list-group-item.timer-link