extends layout

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/timer.js")

block content
	.container
		.row
			.col-lg-3.timer-list

			.col-lg-9.timer-zone
				include zones/_timer-zone