extends layout

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/timer.js")
	script(src="/js/modules/ko.timer.js")

block content
	.container
		.row
			.col-lg-3.timer-list
				include zones/_timer-list

			.col-lg-9
				div.timer-zone(data-bind="visible: state.timerZoneVisible, with: data.currentTimer()")
					include zones/_timer-zone
				div(data-bind="ifnot: state.timerZoneVisible")
					h1 TimeSync
					p Select a timer from the list on the left or create a new one

	div.modal.fade#timer-editor
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
					h4.modal-title(data-bind="text: state.editorTitle")
				div.modal-body

					form.form-horizontal(data-bind="with: data.editor")
						.form-group
							label.col-lg-2.control-label(for='timerName') Name
							.col-lg-9
								input#timerName.form-control(type='text', placeholder='Name timer will be saved with', data-bind="value: name")
						.form-group
							label.col-lg-2.control-label(for='timerLength') Length
							.col-lg-3
								input#timerLength.form-control(type='text', placeholder='hour', data-bind="value: hours")
							.col-lg-3
								input#timerLength.form-control(type='text', placeholder='minute', data-bind="value: minutes")
							.col-lg-3
								input#timerLength.form-control(type='text', placeholder='second', data-bind="value: seconds")
						div(data-bind="text: timerLength")

				div.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button.btn.btn-primary(type="button", data-bind="text: state.editorSaveButton, click: $root.saveTimer") Save changes