extends layout

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/timer.js")
	script(src="/js/modules/ko.timer.js")

block content

	include zones/_main-menu

	div.top-row
		div.timer-options
			a.timer-option(data-bind="click: $root.editTimer")
				i.icon-edit
			a.timer-option(data-bind="click: $root.removeTimer")
				i.icon-trash

	div.main-content(data-bind="visible: $root.state.editing() == false")
		include zones/_timer-zone

	div.main-content(data-bind="visible: $root.state.editing")
		include zones/_timer-editor

	audio#audio-handle(src="/audio/alarm.mp3",preload="auto")



		