@-webkit-keyframes flash {
	from {
		opacity: 1;
	}
	50% {
		opacity: .6;
	}
	to { 
		opacity: 1;
	}
}

@-webkit-keyframes final-countdown {
	from {
		color: rgb(120,0,0);
	}
	50% {
		color: rgb(180,0,0);
	}
}