// Font weights
$light: 300;
$regular: 400;
$bold: 600;

// colors
$blue: rgb(0,168,198);
$blue-light: rgb(64,192,203);
$cream: rgb(249,242,231);
$green: rgb(143,190,0);
$green-medium: rgb(174,226,57);
$green-light: rgba(174,226,57,.5);

// base colors
$font-color: $blue;
$body-background: $cream;

// Base Font
$base-font-family: 'Open Sans';
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1em;

$base-spacing: 18px;

$top-row-height: 60px;