// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1em;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Colors
$base-text-color: rgba(50,50,50,1);
$body-background: rgba(0,0,0,.9);
$timer-list-border: rgba(220,220,220,1);
$timer-list-background: #ECF8FD;
$timer-list-item-border: rgba(230,230,230,1);

$base-spacing: 18px;