@-webkit-keyframes flash {
  from {
    opacity: 1; }

  50% {
    opacity: .6; }

  to {
    opacity: 1; } }

@-webkit-keyframes final-countdown {
  from {
    color: #780000; }

  50% {
    color: #b40000; } }

.main-content {
  width: 90%;
  margin: 20px auto; }

/* Margin and Padding - determined via golden ratio */
/* Margin */
.margin {
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  margin-left: 18px; }

.margin-tiny {
  margin: 4px; }

.margin-small {
  margin: 11px; }

.margin-medium {
  margin: 29px; }

.margin-large {
  margin: 47px; }

.margin-top {
  margin-top: 18px; }

.margin-right {
  margin-right: 18px; }

.margin-bottom {
  margin-bottom: 18px; }

.margin-left {
  margin-left: 18px; }

.margin-top-tiny {
  margin-top: 4px; }

.margin-right-tiny {
  margin-right: 4px; }

.margin-bottom-tiny {
  margin-bottom: 4px; }

.margin-left-tiny {
  margin-left: 4px; }

.margin-top-small {
  margin-top: 11px; }

.margin-right-small {
  margin-right: 11px; }

.margin-bottom-small {
  margin-bottom: 11px; }

.margin-left-small {
  margin-left: 11px; }

.margin-top-medium {
  margin-top: 29px; }

.margin-right-medium {
  margin-right: 29px; }

.margin-bottom-medium {
  margin-bottom: 29px; }

.margin-left-medium {
  margin-left: 29px; }

.margin-top-large {
  margin-top: 47px; }

.margin-right-large {
  margin-right: 47px; }

.margin-bottom-large {
  margin-bottom: 47px; }

.margin-left-large {
  margin-left: 47px; }

.no-margin {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

/* Padding */
.padding {
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px; }

.padding-tiny {
  padding: 4px; }

.padding-small {
  padding: 11px; }

.padding-medium {
  padding: 29px; }

.padding-large {
  padding: 47px; }

.padding-top {
  padding-top: 18px; }

.padding-right {
  padding-right: 18px; }

.padding-bottom {
  padding-bottom: 18px; }

.padding-left {
  padding-left: 18px; }

.padding-top-tiny {
  padding-top: 4px; }

.padding-right-tiny {
  padding-right: 4px; }

.padding-bottom-tiny {
  padding-bottom: 4px; }

.padding-left-tiny {
  padding-left: 4px; }

.padding-top-small {
  padding-top: 11px; }

.padding-right-small {
  padding-right: 11px; }

.padding-bottom-small {
  padding-bottom: 11px; }

.padding-left-small {
  padding-left: 11px; }

.padding-top-medium {
  padding-top: 29px; }

.padding-right-medium {
  padding-right: 29px; }

.padding-bottom-medium {
  padding-bottom: 29px; }

.padding-left-medium {
  padding-left: 29px; }

.padding-top-large {
  padding-top: 47px; }

.padding-right-large {
  padding-right: 47px; }

.padding-bottom-large {
  padding-bottom: 47px; }

.padding-left-large {
  padding-left: 47px; }

.no-padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.main-menu {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20%;
  background: whitesmoke;
  margin: 0;
  padding: 0;
  opacity: 1;
  -webkit-transition: left ease-out 0.3s, background ease-out 0.3s,border ease-out 0.3s,box-shadow ease-out 0.3s;
  -moz-transition: left ease-out 0.3s, background ease-out 0.3s,border ease-out 0.3s,box-shadow ease-out 0.3s;
  -o-transition: left ease-out 0.3s, background ease-out 0.3s,border ease-out 0.3s,box-shadow ease-out 0.3s;
  transition: left ease-out 0.3s, background ease-out 0.3s,border ease-out 0.3s,box-shadow ease-out 0.3s; }
  .main-menu .top-row {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    background: rgba(230, 230, 230, 0.6);
    line-height: 50px; }
    .main-menu .top-row .toggle-menu {
      position: absolute;
      top: 0;
      right: -50px;
      display: block;
      width: 50px;
      height: 50px;
      text-align: center; }
  .main-menu .timer-list .timer-list-link {
    margin: 0 5px;
    display: block;
    padding: 15px 10px;
    border-top: 1px solid #f0f0f0; }
    .main-menu .timer-list .timer-list-link:first-child {
      border-top: none; }
  .main-menu.open {
    left: 0;
    background: rgba(245, 245, 245, 0.6);
    box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.6);
    border-right: 1px solid rgba(200, 200, 200, 0.4);
    -webkit-transition: left ease-out 0.3s, background ease-in 0.3s,border ease-in 0.3s,box-shadow ease-in 0.3s;
    -moz-transition: left ease-out 0.3s, background ease-in 0.3s,border ease-in 0.3s,box-shadow ease-in 0.3s;
    -o-transition: left ease-out 0.3s, background ease-in 0.3s,border ease-in 0.3s,box-shadow ease-in 0.3s;
    transition: left ease-out 0.3s, background ease-in 0.3s,border ease-in 0.3s,box-shadow ease-in 0.3s; }
    .main-menu.open .toggle-menu {
      right: 0; }

.timer-zone .timer-name {
  text-align: center;
  line-height: 1.2em;
  width: 50%;
  margin: 20px auto;
  padding: 6px;
  height: 40px; }
  @media (max-width: 768px) {
    .timer-zone .timer-name {
      width: 90%; } }
.timer-zone .timer-clock {
  text-align: center;
  margin-top: 40px; }
  .timer-zone .timer-clock span {
    font-size: 10em;
    line-height: 1em;
    padding: 2px; }
    @media (max-width: 768px) {
      .timer-zone .timer-clock span {
        font-size: 6em; } }
    @media (max-width: 480px) {
      .timer-zone .timer-clock span {
        font-size: 4em; } }
.timer-zone .timer-edit-controls {
  margin-right: 4px; }
.timer-zone .timer-controls {
  text-align: center;
  margin-top: 40px; }
.timer-zone [contenteditable="false"] {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.timer-zone [contenteditable="true"] {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.timer-zone.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999; }
.timer-zone .final-countdown {
  -webkit-animation-name: final-countdown;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

#timer-editor .time-control-groups {
  padding-top: 40px; }
  #timer-editor .time-control-groups .btn-increment-up {
    border-radius: 3px 3px 0 0; }
  #timer-editor .time-control-groups .btn-increment-down {
    border-radius: 0 0 3px 3px; }
  #timer-editor .time-control-groups .form-control {
    border-radius: 0;
    text-align: center;
    border-top: 0;
    border-bottom: 0; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphiconshalflings-regular.eot");
  src: url("../fonts/glyphiconshalflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphiconshalflings-regular.woff") format("woff"), url("../fonts/glyphiconshalflings-regular.ttf") format("truetype"), url("../fonts/glyphiconshalflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-plus:before {
  content: "\002b"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-asterisk:before {
  content: "\002a"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse:before {
  content: "\e159"; }

.glyphicon-collapse-top:before {
  content: "\e160"; }

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
.new-timer {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px; }
