$timer-option-line-height: $top-row-height;
$timer-option-width: $top-row-height;

.top-row {
	height: $top-row-height;
	background: $top-row-background;
	position: relative;
	.timer-options {
		position: absolute;
		top: 0;
		right: 0;
		.timer-option {
			line-height: $timer-option-line-height;
			width: $timer-option-width;
			display: inline-block;
			cursor: pointer;
			text-decoration: none;
			text-align: center;
			color: $cream;
			i {
				line-height: inherit;
				font-size: 1.5em;
			}
		}
	}
}